* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    text-align: center;
    background-color: red;
}

h1 {
    padding: 32px 0 0 0;

}

input {
    margin: 0 0 32px 0px;
    padding: 4px 8px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.308);
}

input:focus {
    outline: none;
}

.d-none {
    display: none;
}

#pokemon-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 8px 256px;
    gap: 8px;
}

.pokemon-card {
    border: 1px solid black;
    border-radius: 8px;
    padding: 16px;
    width: 256px;
    min-width: 224px;
    cursor: pointer;
}

.pokemon-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pokemon-name {
    font-size: 24px;
    font-weight: lighter;
    border: 1px solid rgba(0, 0, 0, 0.164);
    background-color: rgba(255, 255, 255, 0.11);
    padding: 4px 8px;
    border-radius: 16px;
}

.pokemon-image {
    max-height: 192px;
    filter: drop-shadow(4px 5px 5px);
}

.pokemon-id {
    font-size: 24px;
    border: 1px solid rgba(0, 0, 0, 0.164);
    background-color: rgba(255, 255, 255, 0.11);
    padding: 4px 8px;
    border-radius: 16px;
}

.pokemon-types-wrapper {
    text-align: center;
    padding: 8px 0;
}

.pokemon-type {
    margin: 0 8px;
    font-size: 20px;
    border: 1.5px solid rgba(0, 0, 0, 0.37);
    background-color: rgba(255, 255, 255, 0.212);
    padding: 8px;
    border-radius: 16px;
    color: white;
}

.pokemon-image-wrapper {
    display: flex;
    justify-content: center;
}

.button-wrapper {
    display: flex;
    justify-content: center;
}

.load-more-button {
    border: 1px solid rgba(0, 0, 0, 0.199);
    border-radius: 8px;
    background-color: white;
    padding: 8px 16px;
    font-size: 24px;
    cursor: pointer;
    margin: 8px;
}

#pokemon-detail-card-background {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.26);
    height: 100vh;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}